openapi: 3.2.0
info:
  title: Pandium Tenants API
  version: 2.0.0
  contact:
    name: Pandium
    url: https://www.pandium.com/
  termsOfService: https://www.pandium.com/terms-and-conditions
  description: 'Operations tagged Tenants across 2 of this provider''s published API definitions: pandium-api-docs-openapi.yml, pandium-pandium-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pandium.io
  description: Production
- url: https://api.sandbox.pandium.com
  description: Sandbox
security:
- apiKey: []
tags:
- name: Tenants
paths:
  /v2/tenants:
    get:
      summary: Get Many Tenants
      description: Get all your tenants on Pandium.
      operationId: get_many_tenants_v2_tenants_get
      parameters:
      - name: sort_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: format is {field}__ASC or {field}__DESC
          title: Sort By
        description: format is {field}__ASC or {field}__DESC
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: default is 100, max is 500
          default: 100
          title: Limit
        description: default is 100, max is 500
      - name: skip
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: 'paging support: this is the number of records to skip. Normally you want page_number*limit. default is 0'
          default: 0
          title: Skip
        description: 'paging support: this is the number of records to skip. Normally you want page_number*limit. default is 0'
      - name: integration_id
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: filter tenants by integration
          default: 0
          title: Integration Id
        description: filter tenants by integration
      - name: user_name
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: must correspond to a user id connected to at least one of the connected systems for a tenant
          default: ''
          title: User Name
        description: must correspond to a user id connected to at least one of the connected systems for a tenant
      - name: archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: set this to true to fetch archived integrations
          default: false
          title: Archived
        description: set this to true to fetch archived integrations
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/external_api_v1__v2schemas__Tenant'
                title: Response Get Many Tenants V2 Tenants Get
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    post:
      summary: Create One
      description: 'Create a new, unconnected tenant. The tenant will be paused.

        If no schedule or release is provided, integration defaults will apply.'
      operationId: create_one_v2_tenants_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenant'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_api_v1__v2schemas__Tenant'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}:
    delete:
      summary: Delete Tenant
      description: Archive a tenant.
      operationId: delete_tenant_v2_tenants__tenant_id__delete
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                title: Response Delete Tenant V2 Tenants  Tenant Id  Delete
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    get:
      operationId: getTenant
      summary: Pandium Get a single tenant
      description: Retrieve a single tenant by its ID.
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: The requested tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: Tenant not found.
    patch:
      operationId: updateTenant
      summary: Pandium Update a tenant
      description: Update properties of an existing tenant such as name, configs, paused status, archived status, and user_schedule.
      tags:
      - Tenants
      parameters:
      - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUpdate'
      responses:
        '200':
          description: Tenant updated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          description: Bad request. Invalid parameters.
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: Tenant not found.
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/connectors/{connector_name}/call:
    post:
      summary: Proxy Connector Call Rest
      description: Proxy a synchronous connector call.
      operationId: proxy_connector_call_rest_v2_tenants__tenant_id__connectors__connector_name__call_post
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      - name: connector_name
        in: path
        required: true
        schema:
          type: string
          description: Name of the tenant's authenticated connector
          title: Connector Name
        description: Name of the tenant's authenticated connector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyRestRequestBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyInternalError'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyExternalError'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/connectors/{connector_name}/disconnect:
    patch:
      summary: Disconnect Tenant Connector
      description: Disconnect a connector for a tenant.
      operationId: disconnect_tenant_connector_v2_tenants__tenant_id__connectors__connector_name__disconnect_patch
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      - name: connector_name
        in: path
        required: true
        schema:
          type: string
          description: The name of one non-global connector associated with this tenant's integration
          title: Connector Name
        description: The name of one non-global connector associated with this tenant's integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/connectors/{connector_name}/soap:
    post:
      summary: Proxy Connector Call Soap
      description: Proxy a synchronous connector call to a SOAP endpoint.
      operationId: proxy_connector_call_soap_v2_tenants__tenant_id__connectors__connector_name__soap_post
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      - name: connector_name
        in: path
        required: true
        schema:
          type: string
          description: Name of the tenant's authenticated connector
          title: Connector Name
        description: Name of the tenant's authenticated connector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyXmlRequestBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyInternalError'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyExternalError'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/connectors/{connector_name}/xml:
    post:
      summary: Proxy Connector Call Xml
      description: Proxy a synchronous connector call to an XML endpoint.
      operationId: proxy_connector_call_xml_v2_tenants__tenant_id__connectors__connector_name__xml_post
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      - name: connector_name
        in: path
        required: true
        schema:
          type: string
          description: Name of the tenant's authenticated connector
          title: Connector Name
        description: Name of the tenant's authenticated connector
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProxyXmlRequestBody'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyResponse'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyInternalError'
          description: Bad Request
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProxyExternalError'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/metadata:
    get:
      summary: Get Metadata
      description: Get the metadata for a tenant.
      operationId: get_metadata_v2_tenants__tenant_id__metadata_get
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantMetadata'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    patch:
      summary: Patch Metadata
      description: 'Update metadata for a tenant. Metadata is validated against the tenant''s

        integration release metadata schema.'
      operationId: patch_metadata_v2_tenants__tenant_id__metadata_patch
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantMetadata'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Tenants
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/runs:
    get:
      tags:
      - Tenants
      summary: Get Tenant Runs
      description: Returns a list of runs for a tenant.
      operationId: get_tenant_runs_v2_tenants__tenant_id__runs_get
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      - name: sort_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: format is {field}__ASC or {field}__DESC
          title: Sort By
        description: format is {field}__ASC or {field}__DESC
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: default is 100, max is 500
          default: 100
          title: Limit
        description: default is 100, max is 500
      - name: skip
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: number of records to skip, default is 0
          default: 0
          title: Skip
        description: number of records to skip, default is 0
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Run'
                title: Response Get Tenant Runs V2 Tenants  Tenant Id  Runs Get
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/sync:
    post:
      tags:
      - Tenants
      summary: Sync By Tenant Id
      description: Request a sync when the tenant id is known.
      operationId: sync_by_tenant_id_v2_tenants__tenant_id__sync_post
      parameters:
      - name: tenant_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a tenant
          title: Tenant Id
        description: Unique identifier for a tenant
      - name: mode
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/V2RunMode'
          description: must be one of 'init' or 'normal'
        description: must be one of 'init' or 'normal'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                additionalProperties: true
              - type: 'null'
              description: fields determined by the integration
              title: Body
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
components:
  schemas:
    ProxyRestRequestBody:
      properties:
        headers:
          anyOf:
          - additionalProperties: true
            type: object
          - items: {}
            type: array
          - type: 'null'
          title: Headers
          description: Headers needed for the proxied request
        method:
          type: string
          title: Method
          description: HTTP Method
        query_params:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Query Params
          description: Query params needed for the proxied request
        target_url:
          type: string
          title: Target Url
          description: Endpoint for the proxied request
        body:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Body
          description: Body of the proxied request
      type: object
      title: ProxyRestRequestBody
    Run:
      properties:
        id:
          type: integer
          title: Id
        mode:
          type: string
          title: Mode
        status:
          anyOf:
          - $ref: '#/components/schemas/RunStatus'
          - type: 'null'
        triggers:
          anyOf:
          - items:
              $ref: '#/components/schemas/RunTrigger'
            type: array
          - type: 'null'
          title: Triggers
          default: []
        started_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Started Date
        completed_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Completed Date
        tenant_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Tenant Id
        integration_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Integration Id
      type: object
      required:
      - id
      - mode
      title: Run
    ProxyXmlRequestBody:
      properties:
        headers:
          anyOf:
          - additionalProperties: true
            type: object
          - items: {}
            type: array
          - type: 'null'
          title: Headers
          description: Headers needed for the proxied request
        method:
          type: string
          title: Method
          description: HTTP Method
        query_params:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Query Params
          description: Query params needed for the proxied request
        target_url:
          type: string
          title: Target Url
          description: Endpoint for the proxied request
        data:
          anyOf:
          - type: string
          - type: 'null'
          title: Data
          description: XML data for the proxied request. Authentication will be handled by Pandium and doesn't need to be included in the request.
      type: object
      title: ProxyXmlRequestBody
    external_api_v1__v2schemas__Tenant:
      properties:
        id:
          type: integer
          title: Id
        name:
          type: string
          title: Name
        archived:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archived
        integration_id:
          type: integer
          title: Integration Id
        configs:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Configs
          default: {}
        created_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created Date
        modified_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Modified Date
        paused:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Paused
          default: true
        user_schedule:
          anyOf:
          - type: string
          - type: 'null'
          title: User Schedule
        schedule:
          anyOf:
          - type: string
          - type: 'null'
          title: Schedule
        source:
          anyOf:
          - type: string
          - type: 'null'
          title: Source
          default: api
        integration_release_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Integration Release Id
        integration_release_channel:
          anyOf:
          - $ref: '#/components/schemas/IntegrationReleaseChannel'
          - type: 'null'
        status:
          anyOf:
          - $ref: '#/components/schemas/external_api_v1__v2schemas__TenantStatus'
          - type: 'null'
      type: object
      required:
      - id
      - name
      title: Tenant
    TenantMetadata:
      properties:
        tenant_id:
          type: integer
          title: Tenant Id
        data:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Data
          default: {}
        created_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created Date
        modified_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Modified Date
      type: object
      required:
      - tenant_id
      title: TenantMetadata
    TenantAuthStatus:
      properties:
        connected:
          type: boolean
          title: Connected
          default: false
        connectors:
          anyOf:
          - items:
              $ref: '#/components/schemas/ConnectorStatus'
            type: array
          - type: 'null'
          title: Connectors
          default: []
      type: object
      title: TenantAuthStatus
    V2RunMode:
      type: string
      enum:
      - init
      - normal
      title: V2RunMode
    IntegrationReleaseChannel:
      type: string
      enum:
      - Latest
      - Default
      title: IntegrationReleaseChannel
    ProxyExternalError:
      properties:
        detail:
          type: string
          title: Detail
          description: String-ified object containing the error response from the external service under the "data" key. Status code will reflect the status returned from the external service.
      type: object
      title: ProxyExternalError
    ProxyResponse:
      properties:
        data:
          additionalProperties: true
          type: object
          title: Data
      type: object
      required:
      - data
      title: ProxyResponse
    Trigger:
      properties:
        trigger_id:
          type: string
          title: Trigger Id
      type: object
      required:
      - trigger_id
      title: Trigger
    CreateTenant:
      properties:
        name:
          type: string
          title: Name
          description: Lowercase alphanumeric string; '-' is allowed but not at the start or end of the string
        integration_id:
          type: integer
          title: Integration Id
        user_schedule:
          anyOf:
          - type: string
          - type: 'null'
          title: User Schedule
          description: Must be a valid cron string
        integration_release_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Integration Release Id
          description: You may pass in an integration release id OR a channel
        integration_release_channel:
          anyOf:
          - type: string
          - type: 'null'
          title: Integration Release Channel
          description: You may pass in an integration release id OR a channel
        configs:
          additionalProperties: true
          type: object
          title: Configs
          description: Will be validated against the tenant's integration release config schema
      type: object
      required:
      - name
      - integration_id
      title: CreateTenant
    ProxyInternalError:
      properties:
        detail:
          type: string
          title: Detail
          description: Description of the internal (Pandium) error.
      type: object
      title: ProxyInternalError
    RunStatus:
      properties:
        phase:
          anyOf:
          - type: string
          - type: 'null'
          title: Phase
        startTime:
          anyOf:
          - type: string
          - type: 'null'
          title: Starttime
        completionTime:
          anyOf:
          - type: string
          - type: 'null'
          title: Completiontime
      type: object
      title: RunStatus
    external_api_v1__v2schemas__TenantStatus:
      properties:
        last_run:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Last Run
          default: {}
        current_run:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Current Run
          default: {}
        last_successful_run:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Last Successful Run
          default: {}
        dynamic_configs:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Dynamic Configs
          default: {}
        auth:
          anyOf:
          - $ref: '#/components/schemas/TenantAuthStatus'
          - type: 'null'
          default: {}
      type: object
      title: TenantStatus
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ErrorMessage:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: ErrorMessage
    ConnectorStatus:
      properties:
        name:
          type: string
          title: Name
        status:
          type: string
          title: Status
        last_change:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Last Change
      type: object
      required:
      - name
      - status
      title: ConnectorStatus
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    RunTrigger:
      properties:
        id:
          type: integer
          title: Id
        created_date:
          type: string
          format: date-time
          title: Created Date
        mode:
          type: string
          title: Mode
        source:
          type: string
          title: Source
        payload:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Payload
          default: {}
      type: object
      required:
      - id
      - created_date
      - mode
      - source
      title: RunTrigger
    TenantUpdate:
      type: object
      properties:
        name:
          type: string
          description: Updated name of the tenant.
        configs:
          type: object
          description: Updated configuration settings.
          additionalProperties: true
        paused:
          type: boolean
          description: Whether the tenant should be paused.
        archived:
          type: boolean
          description: Whether the tenant should be archived.
        user_schedule:
          type: string
          description: Updated cron schedule for the tenant.
    Tenant:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the tenant.
        name:
          type: string
          description: Name of the tenant.
        archived:
          type: boolean
          description: Whether the tenant is archived.
        integration_id:
          type: integer
          description: ID of the associated integration.
        configs:
          type: object
          description: Configuration settings for the tenant.
          additionalProperties: true
        created_date:
          type: string
          format: date-time
          description: Date and time the tenant was created.
        modified_date:
          type: string
          format: date-time
          description: Date and time the tenant was last modified.
        paused:
          type: boolean
          description: Whether the tenant is paused.
        user_schedule:
          type: string
          description: The user-defined cron schedule for the tenant.
        schedule:
          type: string
          description: The effective schedule for the tenant.
        source:
          type: string
          description: The source of the tenant creation.
        integration_release_id:
          type: integer
          description: ID of the integration release assigned to this tenant.
        integration_release_channel:
          type: string
          description: The release channel for the tenant.
        status:
          type: string
          description: Current status of the tenant.
    TenantCreate:
      type: object
      required:
      - name
      - integration_id
      properties:
        name:
          type: string
          description: Name of the tenant.
        integration_id:
          type: integer
          description: ID of the integration to create the tenant for.
        user_schedule:
          type: string
          description: Cron expression for the tenant sync schedule.
        archived:
          type: boolean
          description: Whether the tenant should be archived.
          default: false
        configs:
          type: object
          description: Configuration settings for the tenant.
          additionalProperties: true
        paused:
          type: boolean
          description: Whether the tenant should be paused.
          default: true
        schedule:
          type: string
          description: Override schedule for the tenant.
        integration_release_id:
          type: integer
          description: Specific release ID to assign to the tenant.
        integration_release_channel:
          type: string
          description: Release channel to assign.
          enum:
          - Latest
  parameters:
    TenantId:
      name: tenant_id
      in: path
      description: The unique identifier of the tenant.
      required: true
      schema:
        type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key generated in the Pandium Integration Hub under Settings > API Access. Attach it to requests in the X-API-KEY header.
x-refined-from:
- pandium-api-docs-openapi.yml
- pandium-pandium-openapi.yml
x-provenance:
  method: searched
  source: https://docs.pandium.com/reference/pandium-api
  fetched: '2026-09-03'
