openapi: 3.2.0
info:
  title: Pandium Integrations API
  version: 2.0.0
  contact:
    name: Pandium
    url: https://www.pandium.com/
  termsOfService: https://www.pandium.com/terms-and-conditions
  description: 'Operations tagged Integrations across 2 of this provider''s published API definitions: pandium-api-docs-openapi.yml, pandium-pandium-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pandium.io
  description: Production
- url: https://api.sandbox.pandium.com
  description: Sandbox
security:
- apiKey: []
tags:
- name: Integrations
paths:
  /v2/integrations:
    get:
      summary: Get Many Integrations
      description: Get all your integrations on Pandium.
      operationId: get_many_integrations_v2_integrations_get
      parameters:
      - name: sort_by
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: format is {field}__ASC or {field}__DESC
          title: Sort By
        description: format is {field}__ASC or {field}__DESC
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: default is 100, max is 500
          default: 100
          title: Limit
        description: default is 100, max is 500
      - name: skip
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
          - type: 'null'
          description: 'paging support: this is the number of records to skip. Normally you want page_number*limit. default is 0'
          default: 0
          title: Skip
        description: 'paging support: this is the number of records to skip. Normally you want page_number*limit. default is 0'
      - name: archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: set this to true to fetch archived integrations
          default: false
          title: Archived
        description: set this to true to fetch archived integrations
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/external_api_v1__v2schemas__Integration'
                title: Response Get Many Integrations V2 Integrations Get
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Integrations
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/integrations/{integration_id}:
    get:
      summary: Get One Integration
      description: Get a single integration by its ID.
      operationId: get_one_integration_v2_integrations__integration_id__get
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for an integration
          title: Integration Id
        description: Unique identifier for an integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_api_v1__v2schemas__Integration'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Integrations
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/integrations/{integration_id}/releases:
    get:
      summary: Get Integration Releases
      description: Get all releases for a specific integration.
      operationId: get_integration_releases_v2_integrations__integration_id__releases_get
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for an integration
          title: Integration Id
        description: Unique identifier for an integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/external_api_v1__v2schemas__IntegrationRelease'
                title: Response Get Integration Releases V2 Integrations  Integration Id  Releases Get
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Integrations
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/integrations/{integration_id}/releases/default:
    get:
      summary: Get Default Integration Release
      description: Get the default release for an integration
      operationId: get_default_integration_release_v2_integrations__integration_id__releases_default_get
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for an integration
          title: Integration Id
        description: Unique identifier for an integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_api_v1__v2schemas__IntegrationRelease'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Integrations
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/integrations/{integration_id}/releases/latest:
    get:
      summary: Get Latest Release
      description: Get the latest release for an Integration
      operationId: get_latest_release_v2_integrations__integration_id__releases_latest_get
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: string
          description: Unique identifier for an id
          title: Integration Id
        description: Unique identifier for an id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_api_v1__v2schemas__IntegrationRelease'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Integrations
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/integrations/{integration_id}/releases/{release_id}:
    get:
      summary: Get One Integration Release
      description: Get a single release for a specific integration.
      operationId: get_one_integration_release_v2_integrations__integration_id__releases__release_id__get
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for an integration
          title: Integration Id
        description: Unique identifier for an integration
      - name: release_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for a release
          title: Release Id
        description: Unique identifier for a release
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/external_api_v1__v2schemas__IntegrationRelease'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Integrations
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/integrations/{integration_id}/sync:
    post:
      summary: Sync By Integration Id
      description: 'Request a sync for an existing tenant based on an integration ID and a user name.

        For this to work, the user must have installed the integration via the Pandium

        In-App Marketplace, which creates a tenant associated with that user''s username. To sync a tenant created in the Pandium Integration Hub, use the sync by tenant id endpoint.'
      operationId: sync_by_integration_id_v2_integrations__integration_id__sync_post
      parameters:
      - name: integration_id
        in: path
        required: true
        schema:
          type: integer
          description: Unique identifier for an integration
          title: Integration Id
        description: Unique identifier for an integration
      - name: mode
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/V2RunMode'
          description: must be one of 'init' or 'normal'
        description: must be one of 'init' or 'normal'
      - name: user_name
        in: query
        required: true
        schema:
          type: string
          description: must correspond to the user id sent from your system to the Pandium In-App Marketplace when the user installed this integration
          title: User Name
        description: must correspond to the user id sent from your system to the Pandium In-App Marketplace when the user installed this integration
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
              - type: object
                additionalProperties: true
              - type: 'null'
              description: fields determined by the integration
              title: Body
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigger'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Unprocessable Content
      tags:
      - Integrations
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
components:
  schemas:
    Trigger:
      properties:
        trigger_id:
          type: string
          title: Trigger Id
      type: object
      required:
      - trigger_id
      title: Trigger
    Connector:
      properties:
        name:
          type: string
          title: Name
        isGlobal:
          type: boolean
          title: Isglobal
      type: object
      required:
      - name
      - isGlobal
      title: Connector
    external_api_v1__v2schemas__IntegrationRelease:
      properties:
        id:
          type: integer
          title: Id
        name:
          type: string
          title: Name
        repository_tracking_branch:
          anyOf:
          - type: string
          - type: 'null'
          title: Repository Tracking Branch
        run_command:
          anyOf:
          - type: string
          - type: 'null'
          title: Run Command
        tag:
          anyOf:
          - type: string
          - type: 'null'
          title: Tag
        config_schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Config Schema
        config_version:
          type: string
          title: Config Version
        metadata_schema:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Metadata Schema
        created_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created Date
        modified_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Modified Date
      type: object
      required:
      - id
      - name
      - config_version
      title: IntegrationRelease
    Tag:
      properties:
        name:
          type: string
          title: Name
        id:
          type: integer
          title: Id
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      type: object
      required:
      - name
      - id
      title: Tag
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ErrorMessage:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: ErrorMessage
    V2RunMode:
      type: string
      enum:
      - init
      - normal
      title: V2RunMode
    IntegrationReleaseChannel:
      type: string
      enum:
      - Latest
      - Default
      title: IntegrationReleaseChannel
    Category:
      properties:
        name:
          type: string
          title: Name
        id:
          type: integer
          title: Id
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        order_index:
          type: number
          title: Order Index
      type: object
      required:
      - name
      - id
      - order_index
      title: Category
    IntegrationType:
      type: string
      enum:
      - Internal
      - External
      - Pandium
      title: IntegrationType
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    Flag:
      properties:
        name:
          type: string
          title: Name
        id:
          type: integer
          title: Id
        flag_color:
          anyOf:
          - type: string
          - type: 'null'
          title: Flag Color
      type: object
      required:
      - name
      - id
      title: Flag
    external_api_v1__v2schemas__Integration:
      properties:
        id:
          type: integer
          title: Id
        created_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Created Date
        modified_date:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Modified Date
        name:
          type: string
          title: Name
        long_name:
          type: string
          title: Long Name
        connectors:
          anyOf:
          - items:
              $ref: '#/components/schemas/Connector'
            type: array
          - type: 'null'
          title: Connectors
        repository_path:
          anyOf:
          - type: string
          - type: 'null'
          title: Repository Path
        repository_tracking_branch:
          anyOf:
          - type: string
          - type: 'null'
          title: Repository Tracking Branch
        repository_url:
          anyOf:
          - type: string
          - type: 'null'
          title: Repository Url
        type:
          $ref: '#/components/schemas/IntegrationType'
        categories:
          anyOf:
          - items:
              $ref: '#/components/schemas/Category'
            type: array
          - type: 'null'
          title: Categories
          default: []
        tags:
          anyOf:
          - items:
              $ref: '#/components/schemas/Tag'
            type: array
          - type: 'null'
          title: Tags
          default: []
        flag:
          anyOf:
          - $ref: '#/components/schemas/Flag'
          - type: 'null'
        default_release_id:
          anyOf:
          - type: integer
          - type: 'null'
          title: Default Release Id
        default_release_channel:
          anyOf:
          - $ref: '#/components/schemas/IntegrationReleaseChannel'
          - type: 'null'
      type: object
      required:
      - id
      - name
      - long_name
      - type
      title: Integration
    Integration:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the integration.
        name:
          type: string
          description: Name of the integration.
        archived:
          type: boolean
          description: Whether the integration is archived.
        created_date:
          type: string
          format: date-time
          description: Date and time the integration was created.
        modified_date:
          type: string
          format: date-time
          description: Date and time the integration was last modified.
    Release:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the release.
        integration_id:
          type: integer
          description: ID of the integration this release belongs to.
        version:
          type: string
          description: Version label of the release.
        created_date:
          type: string
          format: date-time
          description: Date and time the release was created.
        modified_date:
          type: string
          format: date-time
          description: Date and time the release was last modified.
  parameters:
    ReleaseId:
      name: release_id
      in: path
      description: The unique identifier of the release.
      required: true
      schema:
        type: integer
    IntegrationId:
      name: integration_id
      in: path
      description: The unique identifier of the integration.
      required: true
      schema:
        type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key generated in the Pandium Integration Hub under Settings > API Access. Attach it to requests in the X-API-KEY header.
x-refined-from:
- pandium-api-docs-openapi.yml
- pandium-pandium-openapi.yml
x-provenance:
  method: searched
  source: https://docs.pandium.com/reference/pandium-api
  fetched: '2026-09-03'
