openapi: 3.2.0
info:
  title: Pandium Runs API
  version: 2.0.0
  contact:
    name: Pandium
    url: https://www.pandium.com/
  termsOfService: https://www.pandium.com/terms-and-conditions
  description: 'Operations tagged Runs across 2 of this provider''s published API definitions: pandium-api-docs-openapi.yml, pandium-pandium-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.pandium.io
  description: Production
- url: https://api.sandbox.pandium.com
  description: Sandbox
security:
- apiKey: []
tags:
- name: Runs
paths:
  /v2/runs/triggers/{trigger_id}/status:
    get:
      tags:
      - Runs
      summary: Get Run Status From Trigger
      description: Returns status information for a run associated with the provided trigger id, _if that run exists_. Triggers are are debounced, so run status information may not be immediately available. If no status information is yet available, this endpoint will return a 404.
      operationId: get_run_status_from_trigger_v2_runs_triggers__trigger_id__status_get
      parameters:
      - name: trigger_id
        in: path
        required: true
        schema:
          type: string
          description: Returned from Pandium after a sync request in the response payload
          title: Trigger Id
        description: Returned from Pandium after a sync request in the response payload
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerStatus'
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/runs/{run_id}/log:
    get:
      tags:
      - Runs
      summary: Get Run Log
      description: Redirects to a signed GCS URL to download the log for a run. The URL expires in 15 minutes.
      operationId: get_run_log_v2_runs__run_id__log_get
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: integer
          description: The ID of the run
          title: Run Id
        description: The ID of the run
      responses:
        '302':
          description: Redirect to signed GCS URL for log download
          content:
            application/json:
              schema: {}
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
          description: Not Found
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/sync:
    post:
      operationId: triggerTenantSync
      summary: Pandium Trigger a sync for a tenant
      description: Request a sync for an existing tenant. Pandium debounces triggers to prevent more than one sync per tenant at any given time.
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - name: mode
        in: query
        description: The sync mode to use.
        required: true
        schema:
          type: string
          enum:
          - init
          - normal
      responses:
        '200':
          description: Sync triggered successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: Tenant not found.
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/runs:
    get:
      operationId: listTenantRuns
      summary: Pandium List runs for a tenant
      description: Get runs for a specific tenant.
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - name: skip
        in: query
        description: Number of records to skip for pagination.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Maximum number of records to return.
        required: false
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: A list of runs for the tenant.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Run'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: Tenant not found.
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
  /v2/tenants/{tenant_id}/runs/{trigger_id}:
    get:
      operationId: getRunByTriggerId
      summary: Pandium Get run status by trigger ID
      description: Returns status information for a run associated with the provided trigger ID, if that run exists. Since triggers are debounced, run status information may not be immediately available.
      tags:
      - Runs
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/TriggerId'
      responses:
        '200':
          description: Run status information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        '401':
          description: Unauthorized. Invalid or missing API key.
        '404':
          description: Run not found for the provided trigger ID.
    servers:
    - url: https://api.pandium.io
      description: Production
    - url: https://api.sandbox.pandium.com
      description: Sandbox
components:
  schemas:
    TriggerStatus:
      properties:
        status:
          type: string
          title: Status
      type: object
      required:
      - status
      title: TriggerStatus
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ErrorMessage:
      properties:
        message:
          type: string
          title: Message
      type: object
      required:
      - message
      title: ErrorMessage
    TriggerResponse:
      type: object
      properties:
        trigger_id:
          type: string
          description: The trigger ID that can be used to check the status of the triggered run.
    Run:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the run.
        tenant_id:
          type: integer
          description: ID of the tenant this run belongs to.
        trigger_id:
          type: string
          description: The trigger ID associated with this run.
        status:
          type: string
          description: Current status of the run.
          enum:
          - pending
          - running
          - completed
          - failed
        mode:
          type: string
          description: The mode the run was triggered with.
          enum:
          - cron
          - manual
          - webhook
          - api
        created_date:
          type: string
          format: date-time
          description: Date and time the run was created.
        modified_date:
          type: string
          format: date-time
          description: Date and time the run was last modified.
        started_date:
          type: string
          format: date-time
          description: Date and time the run started executing.
        completed_date:
          type: string
          format: date-time
          description: Date and time the run completed.
  parameters:
    TriggerId:
      name: trigger_id
      in: path
      description: The trigger ID associated with a run.
      required: true
      schema:
        type: string
    TenantId:
      name: tenant_id
      in: path
      description: The unique identifier of the tenant.
      required: true
      schema:
        type: integer
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key generated in the Pandium Integration Hub under Settings > API Access. Attach it to requests in the X-API-KEY header.
x-refined-from:
- pandium-api-docs-openapi.yml
- pandium-pandium-openapi.yml
x-provenance:
  method: searched
  source: https://docs.pandium.com/reference/pandium-api
  fetched: '2026-09-03'
